@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Web phim.</p>
    <p> web phim là mang lại một trải nghiệm xem phim tiện lợi, thú vị, và kết nối người xem qua các chức năng tương tác.</p>
</main>