@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">web phim</h1>
        <p class="lead">web phim is a free web phim for everyone.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Truy cập dễ dàng vào bộ sưu tập phim</h2>
            <p>
                Người dùng có thể khám phá nhiều thể loại phim khác nhau như hành động, kinh dị, hài hước, viễn tưởng, và tình cảm. Trang web có thể cung cấp danh sách phim nổi bật, phim mới phát hành, hoặc những bộ phim được yêu thích nhất.
            </p>
            <p><a class="btn btn-outline-dark" href="~/Phims">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Danh sách yêu thích</h2>
            <p>Bạn có thể lưu phim vào danh sách yêu thích để dễ dàng tìm lại và xem sau, giúp cá nhân hóa trải nghiệm của bạn.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Giao diện thân thiện</h2>
            <p>Trang web có thiết kế dễ sử dụng, giúp người dùng tìm kiếm phim và điều hướng dễ dàng trên nhiều thiết bị, từ máy tính đến điện thoại di động.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>